<!doctype html>
<html lang="en">
  <head>
 
    <%- include('headtag.ejs') %>
    <link rel="stylesheet" href="../css/styles.css">

    <script>
        const next = ()=>{
            window.location.href = "/viewpage/<%= course.id %>/<%= parseInt(pageIndex)+1 %>"
        }
        const prev = ()=>{
            window.location.href = "/viewpage/<%= course.id %>/<%= parseInt(pageIndex)-1 %>"
        }
    </script>
  </head>
  <body class="w-full justify-self-center flex flex-col">
    <%- include('pvtheader.ejs') %>

    <div class="w-full flex justify-center">
      <div class="w-5/6">
    
        <span class="p-2 font-bold text-green-700"> <a href="/">Home</a> >> <a href="/viewcourse/<%= course.id %>"><%= course.courseName %></a> >> <a href="/viewchapter/<%= chapter.id %>"><%= chapter.chapterName  %></a> >> <a href="/viewpage/<%= page.id %>"><%=  page.title %></a></span>
        <div class="w-full p-2 mt-5">
            <span class="py-5 mt-5"><%= chapter.chapterName %></span>
            <h2 class="text-2xl font-bold pt-5"><%= page.title %></h2>
            
            <p class="p-5 "><%- page.content %> </p>
        </div>


        
      </div>
    </div>

    <div class="w-full h-16 flex  flex-col self-end">
         
      <% if (user.role == 'student') { %>
        <div class="w-full justify-center mb-5  flex">
          <form class="w-full flex justify-center" action="/markpage" method="post">
            
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="studentId" value="<%= user.id %>">
            <input type="hidden" name="pageIndex" value="<%= pageIndex %>">
            <input type="hidden" name="teacherId" value="<%= course.teacherId %>">
            <input type="hidden" name="courseId" value="<%= course.id %>">
            <input type="hidden" name="chapterId" value="<%= chapter.id %>">
            <input type="hidden" name="pageId" value="<%=  page.id %>">
            <input type="hidden" name="completed" value="true">
            <button type="submit" class=" w-1/2 border  p-2 hover:bg-green-700 bg-green-600 font-sm  text-white rounded-full  justify-self-center"  <%= completed ? "disabled" : ""  %> >   <%= completed ? "Completed" : "Mark as Complete"  %>  </button>
          </form>

          

        </div>
    <% } %>
        <div class="w-full mb-5 justify-center inline-flex space-x-2.5">
        
            
            <% if (pageIndex > 0) { %>
                <button onclick="prev()" class="px-5  flex items-center py-2 px-3 rounded font-medium select-none border text-gray-900 bg-white transition-colors hover:border-red-600 hover:bg-red-700 hover:text-white  "   >    << Previous </button>
            <% } %>
            <% if (pageIndex == 0) { %>
                <button onclick="prev()" class="px-5  flex items-center py-2 px-3 rounded font-medium select-none border text-gray-900 bg-white transition-colors hover:border-red-600 hover:bg-red-700 hover:text-white  "  disabled >    << Previous </button>
            <% } %>
            

            <% if (pageIndex < (allPages.length-1) ) { %>
                <button onclick="next()" class="px-5 flex items-center py-2 px-3 rounded font-medium select-none border text-gray-900 bg-white transition-colors hover:border-green-600 hover:bg-green-700 hover:text-white">  Next >> </button>
            <% } %>
            <% if (pageIndex == (allPages.length-1) ) { %>
                <button onclick="next()" class="px-5 flex items-center py-2 px-3 rounded font-medium select-none border text-gray-900 bg-white transition-colors hover:border-green-600 hover:bg-green-700 hover:text-white" disabled>  Next >> </button>
            <% } %>
        </div>
    </div>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
  </body>
</html>
