<!doctype html>
<html lang="en">
  <head>
 
    <%- include('headtag.ejs') %>
  </head>
  <body class="w-full justify-self-center flex flex-col">
    <%- include('pvtheader.ejs') %>

    <div class="w-full flex justify-center">
      <div class="w-5/6">
       
        <div class="border rounded-lg drop-shadow-lg m-5 flex  justify-between items-center p-10 justify-self-center">
         <div>
          <h2 class=" "> <b><%= chapter.chapterName %></b></h2>
         <span><%= chapter.chapterDescription %></span>
         </div>
         <a href="/addpage/<%= chapter.id %>" class="p-3 text-white font-normal bg-green-600 rounded mr-5"  type="button"  >Add Page</a>

        </div>
        <span class="p-2 font-bold text-green-700"> <a href="/">Home</a> >> <a href="/viewcourse/<%= course.id %>"><%= course.courseName %></a> >> <a href="/viewchapter/<%= chapter.id %>"><%= chapter.chapterName  %></a></span>
        <h2 class="text-center text-3xl m-5 font-bold text-green-600 underline"> PAGES </h2>
        <div class="w-full p-2 grid grid-cols-3 gap-1">
        <%  for(let i = 0; i < pages.length ; i++) { %>
         <a href="/viewpage/<%= chapter.id  %>/<%= i %>">
          <div class="p-3  border rounded my-2">
            <div class="font-bold  p-1"> <%= `${i+1}. ${pages[i].title} ` %> </div>
           
           </div>

         </a>
        <% } %>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
  </body>
</html>
